* {
        margin: 0;
        padding: 0;
}
:root {
        --color: #444;
        --background: #FFF;
        --border: #DDD;
        --spacing: 1rem;
        --width: 960px;

        line-height: 1.5;
        font-size: 14px;
        font-family: sans-serif;
        color: var(--color);
        background-color: var(--background);
        margin: auto;
        padding: var(--spacing);
        max-width: calc(var(--width) - var(--spacing) * 2);
}
@media screen and (max-width: 480px){
        :root {
                --width: 480px;
        }
}
a, a:visited {
        color: var(--color);
        text-decoration: none;
}
a:hover {
        color: #000;
        text-decoration: underline;
}
header, .feed, .feed-header, .no-feeds {
        margin-bottom: var(--spacing);
}
header {
        display: flex;
        flex-direction: row;
        justify-content: center;
}
.header-button {
        margin: 0 0.5rem;
}
.feed-header, .header-button{
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        background-color: #EEE;
        border: 1px solid var(--border);
        border-radius: 3px;
        padding: 0.5rem var(--spacing);
}
.feed-items {
        list-style: none;
}
.feed-items a:visited {
        color: #BBB;
}
.feed-items hr {
        border: 0;
        height: 1px;
        margin: 0.5rem 0;
        background-image: linear-gradient(to right, var(--border), var(--background));
}
.no-feeds {
        text-align: center;
}
footer {
        font-size: 0.75rem;
        text-align: center;
}
